PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/haroons_interiors
JWT_SECRET=haroons_interiors_editorial_secret_key_2026_luxury
ADMIN_EMAIL=admin@haroonsinteriors.com
ADMIN_PASSWORD=Haroon@Admin2026!
NODE_ENV=development
